table {
  font-size: 18px;
  border-collapse: collapse;
  margin: 1rem;
}

th,
td {
  padding: 16px 5px;
  text-align: left;
}

thead tr {
  background-color: #1c7ed6;
  color: #fff;
  text-transform: uppercase;
}

thead tr th:first-child {
  padding-left: 2rem;
}

tbody tr td:first-child {
  padding-left: 2rem;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}
